<div class="container text-center">
  <div class="new-project-form">
    <%= form_for @project, remote: true, id: "new-project-form" do |f| %>
      <%= f.text_field :title, placeholder: "Create new project" %>
      <%= f.submit "New Project" %>
    <% end %>
  </div>
  <div class="projects-list">
    <%= render @projects %>
  </div>
</div>
