<div class="container text-center">
  <%= form_for @project, remote: true do |f| %>
    <%= f.text_field :title, placeholder: "Create new project" %>
    <%= f.submit %>
  <% end %>
  <br>

  <%= render @projects %>
</div>
